.container {
  min-height: 10vh;
}

/* .navbar {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 99;
}

/** all right aligned nav links **/
/* .right {
  color: black;
  font-size: 22px;
}

.left {
  margin-right: 60vh; */

.primary-nav {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.left {
  margin-right: auto;
}
