.container {
  min-height: 10vh !important;
  max-height: 10vh !important;
}

.primary-nav {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.nav-item {
  margin-top: 2.7vh;
  margin-left: 5vh;
  margin-right: 5vh;

  font-size: 18px;
  font-weight: bold;
}

.nav-logo {
  margin-left: 8vh;
  margin-right: auto;
}

img {
  width: 130%;
  height: auto;
  margin-top: 1vh;
  position: relative;
}

a {
  text-decoration: none;
}
